@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Shrikhand&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.outer {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 400px;
  border-radius: 16px;
  background: radial-gradient(circle 1000px at 0% 0%, rgba(12, 13, 13, 0.9), rgba(255, 255, 255, 0.2)); 
  position: relative;
  margin-top: -100px;
}

.card {
  padding: 20px;
  width: 90%;
  border-radius: 16px;
  background: radial-gradient(circle 280px at 0% 0%, rgba(168, 171, 171, 0.2), rgba(233, 232, 232, 0.2)); 
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex-direction: column;
  font-family: "Sofia Sans", sans-serif;
  font-optical-sizing: auto;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease; 
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.weather-info {
  text-align: left;
}

.search {
  display: flex;
  width: 350px;
  margin-bottom: 0px; 
}

.search-bar {
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
}

button {
  background: #555;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #777;
}

.info {
  border-radius: 9px;
  width: 330px;
  padding: 10px;
  position: relative;
  background: #dfdfdf4d;
  box-shadow: 15px 15px 30px rgba(114, 113, 113, 0.76),
             -15px -15px 30px rgba(81, 80, 80, 0.4);
}

.icon {
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
  align-items: left;
  justify-content: left;
}

.temp, .description, .humidity, .wind {
  margin: 10px 0;
  font-weight: bolder;
}

.city {
  padding: 5px;
}

.temp, .description, .humidity, .wind {
  margin-left: 5px;
  color: #000;
}

.description {
  font-size: 1em;
  transform: translateY(8px);
}

.error {
  color: #ffffff; 
  margin-top: 10px;
  text-align: center;
  transform: translateX(-8px);
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
