.outer2 {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 400px;
    border-radius: 16px;
    background: radial-gradient(circle 1000px at 0% 0%, #0c0d0d, #ffffff7b);
    position: relative;
  }
  
  
  .card2 {
    padding: 20px;
    width: 90%;
    border-radius: 16px;
    background: radial-gradient(circle 280px at 0% 0%, #a8abab4f, #e9e8e87d);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color: #ffffff;
  }
  
  .ray2 {
    width: 220px;
    height: 45px;
    border-radius: 100px;
    position: absolute;
    background-color: #c7c7c7;
    opacity: 0.4;
    box-shadow: 0 0 50px #fff;
    filter: blur(10px);
    transform-origin: 10%;
    top: 0%;
    left: 0;
    transform: rotate(40deg);
  }