@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(to bottom,#ececece0 25%,#ececece0 30%,#ecececbc 50%,  #ececec6d 75%, rgba(255, 255, 255, 0) 100%);
    height: 80px; 
        
}

.navbar-brand{
    
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #4f4f4f; /* Gris foncé */
    text-decoration: none;
    transform: translateX(10px) translateY(-10px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar-brand:hover {
    color: #555; /* Gris moyen */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

